<h3>Messages</h3>

<table>
  <tbody>
    <%= sync partial: 'message_row', collection: @messages %>
    <%= sync_new partial: 'message_row', resource: Message.new %>
  </tbody>
</table>

<hr>

<%= form_for @new_message, remote: true do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Chat" %>
<% end %>
